appdirs==1.4.3
application-utility==1.1.0.dev1
beautifulsoup4==4.6.3
btrfsutil==1.0.0
CacheControl==0.12.5
certifi==2018.10.15
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.0
cupshelpers==1.0
distlib==0.2.8
distro==1.3.0
dj-database-url==0.5.0
Django==2.1.3
django-crispy-forms==1.7.2
gufw==18.10.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
Jade-Application-Kit==1.3.5
lensfun==0.3.2
lockfile==0.12.2
louis==3.7.0
meson==0.48.2
msgpack==0.5.6
npyscreen==4.10.5
packaging==18.0
pacman-mirrors==4.14.0
pew==1.1.5
Pillow==5.3.0
pipenv==2018.10.14.dev0
powerline-status==2.7
progress==1.4
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pycairo==1.17.0
pycups==1.9.74
pycurl==7.43.0.2
PyGObject==3.30.2
pyparsing==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pytoml==0.1.20
pytz==2018.7
pyxdg==0.26
requests==2.20.1
retrying==1.3.3
six==1.11.0
team==1.0
ufw==0.35
urllib3==1.24.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
webencodings==0.5.1
whitenoise==4.1.2
